@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: bisque;
    margin: 0px;
    position: relative;
}
#middle-container{
    display: flex;
    align-items: center;
}
#winningMessage{
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: white;
    border-radius: 30px;
    display: none;
    animation: scaling 1s 1 forwards;
    padding: 100px;
}
@keyframes scaling{
    100%{
        transform: scale(1.2);
    }
}
#congrats-message{
    font-size: 40px;
    margin-top: 50px;
}
#winner-message{
    font-size: 30px;
    margin-top: 50px;
    font-weight: 600;
}
.heading{
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    text-shadow: 5px 5px 4px rgb(41, 43, 50);
    letter-spacing: 2px;
}
#player1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-shadow: 5px 5px 4px rgb(41, 43, 50);
    margin-left: 100px;
    color: red;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
#player2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-shadow: 5px 5px 4px rgb(41, 43, 50);
    margin-right: 100px;
    padding: 20px;
    border-radius: 15px;
}
table{
    margin: 20px auto;
    border-spacing: 10px;
}
td{
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

td:hover{
    transform: scale(1.03);
}

@media (max-width:460px){
    .heading{
        font-size: 40px;
    }
    #player1{
        font-size: 12px;
        margin-left: 15px;
        padding: 15px;
        border-radius: 15px;
    }
    #player2{
        font-size: 12px;
        margin-right: 20px;
        padding: 15px;
        border-radius: 15px;
    }
    table{
        border-spacing: 5px;
    }
    td{
        width: 60px;
        height: 60px;
        border-radius: 8px;
        font-size: 25px;
        font-weight: 600;
    }
    #winningMessage{
        top: 40%;
        left: 20%;
        border-radius: 20px;
        animation: scaling 1s 1 forwards;
        padding: 50px;
    }
    #congrats-message{
        font-size: 10px;
        margin-top: 20px;
    }
    #winner-message{
        font-size: 10px;
        margin-top: 20px;
        font-weight: 600;
    }
}
